.responsive-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 2% 5%;
}

#landing-title {
  font-size: 5.5em;
  font-weight: bold;
  transition: all 0.3s ease;
  margin: 0;
}

#landing-title:hover {
  color: #343638;
  transform: scale(1.01);
}

#landing-subtitle {
  font-size: 1.4rem;
  margin: 0;
}

#landing-description {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 2.5% 0;
}

.emphasis {
  font-weight: bold;
}

@media (min-width: 900px) and (max-width: 1200px) {
  .image-container {
    margin: 50% 0;
  }
}

@media (max-width: 768px) {
  .image-container {
    margin: 2% 0;
  }

  #landing-title {
    font-size: 3.5em;
  }

  #landing-subtitle {
    font-size: 1.2rem;
    margin: 0;
  }

  #landing-description {
    font-size: 1rem;
    font-weight: 500;
    margin: 5% 0;
  }
}

/*
* The following CSS is used to style the landing buttons
*/

/* Base styling for the container */
.landing-button-container {
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 0px;
  margin-right: 7.5%;
}

/* Styling for the button and link */
.landing-button {
  display: inline-block;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  text-align: left;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap; /* Prevent text wrapping */
  margin-right: 50%; /* Add margin between buttons */
}

.landing-button:first-child {
  margin-right: 10px;
  padding: 10px 15%;
}

.landing-button:nth-child(2) {
  margin-right: 100%;
}

/* Hover effect */
.landing-button:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

/* Responsive design: Adjust padding and font size for medium and smaller screens */
@media (max-width: 900px) {
  .landing-button {
    padding: 0%;
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  .landing-button {
    padding: 0;
    font-size: 1.15rem;
  }
}
