nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  position: static;
  top: 0;
  border-bottom: 1px solid black;
}

nav a img {
  width: 80px;
  height: 80px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 0.75rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

/* Regular anchor tag hover style */
nav ul li a:not(.active):hover {
  background-color: #f3f1f1;
  border: 1px solid black;
}

/* Emphasized button hover style (no change) */
nav ul li a.navbar-element:hover {
  background-color: #ffffff;
}

.navbar-element {
  color: #353d2f;
  padding: 0.2rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.23rem;
  text-decoration: none;
}

.navbar-element:hover {
  cursor: pointer;
  color: #5e6858;
}

nav .menu {
  display: none;
  position: absolute;
  top: 2.5%;
  right: 5%;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.2rem;
}

/* Media Query for navbar */
@media (max-width: 600px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav a img {
    width: 60px;
    height: 60px;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
    padding: 0.5rem;
  }
}

.non-selectable {
  user-select: none; /* Prevent text selection */
}

#logo {
  color: #353d2f;
  font-weight: bold;
  font-size: 1.95em;
}
