@import "tailwindcss";

* {
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0fdf4; /* pastel green-50 background */
  color: #1f2937;
}
